<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Backbone Mvc</title>
</head>

<body>

    <script type="text/template" id="messageListTemplate">
        <li><%= Body %>&nbsp<a href="#delete/<%= id %>">delete</a></li>
    </script>

    <ul id="messages">
    </ul>
    
    <input type="text" name="Message_Body"/>
    <a href="#add/Message">Add</a>

    <script src="Scripts/jquery-1.7.2.js" type="text/javascript"></script>
    <script src="Scripts/underscore.js" type="text/javascript"></script>
    <script src="Scripts/backbone.js" type="text/javascript"></script>

    <script src="Scripts/Code/Message.js" type="text/javascript"></script>
    <script src="Scripts/Code/Messages.js" type="text/javascript"></script>
    <script src="Scripts/Code/MessagesView.js" type="text/javascript"></script>
    <script src="Scripts/Code/Controller.js" type="text/javascript"></script>
    <script src="Scripts/Code/BackboneMvc.js" type="text/javascript"></script>
    <script src="Scripts/Code/Routes.js"></script>

    <script src="Scripts/Code/Index.js" type="text/javascript"></script>
</body>

</html>
